$mau-den: #000;
$mau-xam: #7f7f7f;
$mau-trang: #fff;
.module-1586{
    .img-contain{
        background: url(../images/white.jpg);
        background-size: 290px 300px;
        background-repeat: no-repeat;
        height: 300px;
    }
    .num-text{
        font-size: 15px;
        background: $mau-den;
        cursor: pointer;               
        .text-lorem{
            margin-top: 25% + 12px;
            margin-left: 25px;
            margin-right: 25px;
            text-align: center;

            span{
                display: inline-block;
                margin-bottom: 10px;
                color:$mau-xam;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 400;
            }
            p{
                color:$mau-trang;
                font-family: "Times New Roman", Times, serif;
                font-style:italic;
            }
        }
    }

    margin: 50px 0;
}